{% extends 'base.html' %}
{% block content %}
    <h1>할일 목록</h1>
{% for todo in object_list %}
<h4>{{ todo.pk }}번째 할일</h4>
    <a href="{% url 'todo:detail' todo.pk %}"><h2>{{ todo.title }}</h2></a>
{% endfor %}
{% if request.user %}
    <a href="{%   url 'todo:create' %}">할일 추가</a>
{% endif %}
    <div>
    {% if page_obj.has_previous %}
    <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; 첫번째</a>
    <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">이전</a>
    {% endif %}

    {% if page_obj.number|add:-2 > 1 %}
    <a href="?page={{ page_obj.number|add:-3 }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&hellip;</a>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <span>(현재 페이지)</span>
            {% elif i > page_obj.number|add:-3 and i < page_obj.number|add:3 %}
            <a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.paginator.num_pages > page_obj.number|add:2 %}
    <a href="?page={{ page_obj.number|add:3 }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&hellip;</a>
    {% endif %}

        {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">다음</a>
         <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"> 마지막 &raquo; </a>
    {% endif %}

    </div>
{% endblock %}